<h3 class="page-title">
    User Management <small>user management samples</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="tool">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="user">User Management</a>
        </li>
    </ul>
</div>
<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search"></i>User Query
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" ng-submit="searchUser()">
            <div class="form-group">
                <label for="search-keyword" class="col-sm-2 control-label">Username: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="User Name" ng-model="search.login_id">
                </div>
            </div>
            <div class="form-group">
                <label for="search-keyword" class="col-sm-2 control-label">First Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="User Name" ng-model="search.first_name">
                </div>
            </div>
            <div class="form-group">
                <label for="search-keyword" class="col-sm-2 control-label">Last Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="User Name" ng-model="search.last_name">
                </div>
            </div>
            <div class="form-group">
                <label for="search-keyword" class="col-sm-2 control-label">Email Address: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="User Name" ng-model="search.email_primary">
                </div>
            </div>
            <!-- <div class="form-group">
                <ui-select ng-model="queryOption.search.value" theme="select2" class="form-control" title="Choose a status">
                  <ui-select-match>Status: {{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="item in disabledStatus | filter: $select.search">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
            </div> -->
            <hr>
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-12">
                        <button type="submit" class="btn btn-success" ><i class="fa fa-search"/> Search</button>
                        <button type="button" ng-click="search.keyword='';searchUser('')" class="btn default">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-th-list"></i>User List
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn default" data-toggle="dropdown">
                Columns <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                    <label><input type="checkbox" checked ng-model="showColumn1">User Name</label>
                    <label><input type="checkbox" checked ng-model="showColumn2">Name</label>
                    <label><input type="checkbox" checked ng-model="showColumn3">Roles</label>
                    <label><input type="checkbox" checked ng-model="showColumn4">Status</label>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet-body clearfix position-base">
        <div ng-if="loading" class="page-spinner-bar page-spinner-bar--local">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <button type="button" class="btn btn-success" ng-click="addUser()">Add</button>
                    <button type="button" class="btn btn-success" ng-click="addUserByModal()">Add (Modal)</button>
                    <label class="float-right">Show&nbsp;
                        <ui-select ng-model="queryOption.pagination.perPage" theme="select2" class="form-control input-inline" title="Choose one">
                            <ui-select-match>{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in [5, 10, 20] | filter: $select.search">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    &nbsp;entries</label>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-hover dataTable">
            <thead th-sorting th-ignored="[4, 5]">
                <th ng-show="showColumn1" ng-click="sortUser('login_id')">User Name</th>
                <th ng-show="showColumn2" ng-click="sortUser('first_name')">Name</th>
                <th ng-show="showColumn3" ng-click="sortUser('role_name')">Roles</th>
                <th ng-show="showColumn4" ng-click="sortUser('disabled')">Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-if="loading" ng-repeat="_ in [] | range:queryOption.pagination.perPage">
                    <td ng-repeat="_ in [] | range:6">&nbsp;</td>
                </tr>
                <tr ng-if="!loading" ng-repeat="user in users">
                    <td ng-show="showColumn1">{{ user.login_id }}</td>
                    <td ng-show="showColumn2">{{ user.first_name }}</td>
                    <td ng-show="showColumn3">{{ user.role_name }}</td>
                    <td ng-show="showColumn4"><span class="label label-{{user.disabled?'danger':'success'}}">{{ user.disabled ? 'Disabled' : 'Enabled'; }}</span></td>
                    <td>
                        <a href="" ng-click="displayUser(user)"><i class="fa fa-search-plus"></i></a>
                        <a href="" ng-click="editUser(user)"><i class="fa fa-pencil"></i></a>
                        <a href="" ng-click="deleteUser(user.id)"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>
                        <a href="" ng-click="displayUserByModal(user)"><i class="fa fa-search-plus"></i>Modal</a>
                        <a href="" ng-click="editUserByModal(user)"><i class="fa fa-pencil"></i>Modal</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <small ng-if="!loading">
            Showing {{ userIndex.first }} - {{ userIndex.last }} of {{ userIndex.total }} entries.
        </small>
        <pagination class="pagination pull-right" ng-model="queryOption.pagination.current" total-items="queryOption.pagination.total" items-per-page="queryOption.pagination.perPage" max-size="queryOption.pagination.maxSize" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
