<div class="container">
 	<div ng-include="'components/navbar/navbar.html'"></div>
	<h1>{{ welcomeMessage }}</h1>

	<div class="portlet box blue-madison">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-globe"></i>User List
			</div>
			<div class="tools">
			</div>
		</div>

		<div class="portlet-body">
			<div class="pull-right">
				<span>Search: </span>
				<input type="text" ng-model="search.userName">		
			</div>
			<table class="table table-bordered table-hover">
				<thead>
					<th>User Name</th>
					<th>Name</th>
					<th>Roles</th>
					<th>Status</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | filter:search">
						<td>{{ user.userName }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.role }}</td>
						<td>{{ user.disabledStatus }}</td>
						<td>
							<a href="" ng-click="editUser(user)"><i class="fa fa-search-plus"></i></a>
							<a href="" ng-click="editUser(user)"><i class="fa fa-pencil"></i></a>
							<a href="" ng-click="deleteUser($index)"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
