<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" ng-submit="addUser()">
            <h1>{{ welcomeMessage }}</h1>
            <div class="form-group">
                <label for="UserName" class="col-sm-3 control-label">UserName</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="UserName" placeholder="UserName" ng-model="user.userName" ng-disabled="!isNewUser">
                </div>
            </div>
            <div class="form-group">
                <label for="first-name" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="first-name" placeholder="First Name" ng-model="user.firstName" >
                </div>
            </div>
            <div class="form-group">
                <label for="last-name" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="last-name" placeholder="Last Name" ng-model="user.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email Address</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="email" placeholder="Email Address" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label for="Role" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Role" placeholder="Role" ng-model="user.role">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Lock Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="lock-status" id="lock-status-enabled" ng-model="user.lockStatus" value="Unlock">Unlock
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lock-status" id="lock-status-disabled" ng-model="user.lockStatus" value="Lock">Lock
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Disabled Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="disabled-status" id="disabled-status-enabled" ng-model="user.disabledStatus" value="Enabled">Enabled
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="disabled-status" id="disabled-status-disabled" ng-model="user.disabledStatus" value="Disabled">Disabled
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Disabled Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="default-language" id="default-language-sc" ng-model="user.defaultLanguage" value="Simplified Chinese">Simplified Chinese
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="default-language" id="default-language-en" ng-model="user.defaultLanguage" value="English">English
                    </label>
                </div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-9">
                    <input type="submit" class="btn btn-success" value="Add" ng-if="isNewUser" ng-click="addUser()">
                    <input type="button" class="btn btn-success" value="Update" ng-if="!isNewUser" ng-click="updateUser()">
                    <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelEdit()">
               </div>
             </div>
        </form>
    </div>
</div>

